body {
  font-family: sans-serif;
}

body.font-loaded .emoji,
body.font-loaded canvas,
body.font-loaded img,
body.font-loaded .dom-ref {
  font-family: "Twemoji Mozilla Built";
}

h1 form {
  display: inline;
}

button, h1 input {
  font-size: 1em;
  font-family: sans-serif;
}

p.summary {
  font-family: monospace;
  background-color: #ccc;
  font-size: 16px;
}

span.title, span.emoji-info {
  font-family: monospace;
  display: block;
  font-size: 16px;
}

span.title {
  font-weight: bold;
}

span.emoji-info {
  color: #333;
}

span.clickable {
  cursor: pointer;
}

p.passed {
  background-color: #ddffdd;
}

body.hide-passed p.passed {
  display: none;
}

p.failed {
  background-color: #ffdddd;
}

.detail {
  display: none;
}

.expended > .detail {
  display: block;
}

canvas, img, .dom-ref {
  display: inline-block;
  font-size: 180px;
  line-height: 180px;
  vertical-align: middle;
  text-align: center;
  margin: 10px;
  width: 180px;
  height: 180px;
  border: 5px solid #33ff33;
  background: linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.layer {
  border-color: #cccccc;
  width: 90px;
  height: 90px;
}

.dom-ref {
  border-color: #cccccc;
}

.report-failed {
  border-color: #ff3333;
}
